<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Login.Master.cs" Inherits="JMQPresentacion.Login.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/Public/images/icon.png">
    <link href="/Public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Public/fonts/css/all.min.css" rel="stylesheet" />
    <link href="/Public/css/site.css" rel="stylesheet" />

    <title>JMQ Inversiones</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="container-fluid p-0 d-flex h-100">
        <div class="bg-light flex-fill">
            <div class="p-2 d-md-none d-flex text-white bg-primary">
                <a href="#" class="text-white"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#bdSidebar">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <span class="ms-3">LOGO JMQ</span>
            </div>


            <nav class="navbar navbar-dark" style="background-color:#6d8bc7">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <a href="/Principal/Principal.aspx" class="navbar-brand">
                        <img alt="Logo" src="/Public/images/logo1.png" style="width:150px;">
                    </a>
                </div>
            </nav>

            <div class="p-4">
                <form id="form1" runat="server">
                    <asp:ContentPlaceHolder ID="Contenido" runat="server">
                        </asp:ContentPlaceHolder>
                    
                    <script src="/Public/js/jquery-3.7.1.min.js"></script>
                    <script src="/Public/js/bootstrap.bundle.min.js"></script>
                    
                    <asp:ContentPlaceHolder ID="Scripts" runat="server">
                        </asp:ContentPlaceHolder>
                </form>
            </div>
        </div>
    </div>

    <%-- <script src="/Public/js/jquery-3.7.1.min.js"></script> --%>
    <%-- <script src="/Public/js/bootstrap.bundle.min.js"></script> --%>
    <%-- <script src="/Public/scripts/registroExitoso.js" type="text/JavaScript"></script> --%>

</body>
<footer>
    NullPointers &#0169. Todos los derechos reservados.
</footer>
</html>
