<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <databaseSettings>
    <add key="host" value="dbpucp-pruebas.checiwwqwvoh.us-east-1.rds.amazonaws.com"/>
    <add key="port" value="3306"/>
    <add key="database" value="mydb"/>
    <add key="user" value="admin"/>
    <add key="password" value="db-pruebas-pucp123"/>
    <add key="minPoolSize" value="5"/>
    <add key="maxPoolSize" value="50"/>
    <add key="connectionTimeout" value="30"/>
  </databaseSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BoletaWSPortBinding" />
				<binding name="UsuarioWSPortBinding" />
				<binding name="DescuentoWSPortBinding" />
				<binding name="CategoriaWSPortBinding" />
				<binding name="OrdenVentaWSPortBinding" />
				<binding name="NotificacionWSPortBinding" />
				<binding name="CotizacionWSPortBinding" />
				<binding name="ComprobantePagoWSPortBinding" />
				<binding name="FacturaWSPortBinding" />

				<!-- ✅ Aumentado a 10 MB -->
				<binding name="ProductoWSPortBinding"
						 maxReceivedMessageSize="10485760"
						 maxBufferSize="10485760">
					<readerQuotas
						maxDepth="64"
						maxStringContentLength="10485760"
						maxArrayLength="10485760"
						maxBytesPerRead="4096"
						maxNameTableCharCount="16384" />
				</binding>

				<binding name="ProductoCotizacionWSPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/JMQWS/BoletaWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="BoletaWSPortBinding"
					  contract="JMQWS.BoletaWS"
					  name="BoletaWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/UsuarioWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="UsuarioWSPortBinding"
					  contract="JMQWS.UsuarioWS"
					  name="UsuarioWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/DescuentoWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="DescuentoWSPortBinding"
					  contract="JMQWS.DescuentoWS"
					  name="DescuentoWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/CategoriaWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="CategoriaWSPortBinding"
					  contract="JMQWS.CategoriaWS"
					  name="CategoriaWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="OrdenVentaWSPortBinding"
					  contract="JMQWS.OrdenVentaWS"
					  name="OrdenVentaWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="NotificacionWSPortBinding"
					  contract="JMQWS.NotificacionWS"
					  name="NotificacionWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="CotizacionWSPortBinding"
					  contract="JMQWS.CotizacionWS"
					  name="CotizacionWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="ComprobantePagoWSPortBinding"
					  contract="JMQWS.ComprobantePagoWS"
					  name="ComprobantePagoWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/FacturaWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="FacturaWSPortBinding"
					  contract="JMQWS.FacturaWS"
					  name="FacturaWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/ProductoWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="ProductoWSPortBinding"
					  contract="JMQWS.ProductoWS"
					  name="ProductoWSPort" />

			<endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
					  binding="basicHttpBinding"
					  bindingConfiguration="ProductoCotizacionWSPortBinding"
					  contract="JMQWS.ProductoCotizacionWS"
					  name="ProductoCotizacionWSPort" />
		</client>
	</system.serviceModel>

</configuration>