<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" maxRequestLength="10240" executionTimeout="300" />
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
     type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
     type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<databaseSettings>
		<add key="host" value="bd-ta.c8jfnuu5fkjn.us-east-1.rds.amazonaws.com" />
		<add key="port" value="3306" />
		<add key="database" value="mydb" />
		<add key="user" value="admin" />
		<add key="password" value="db-pucp123" />
		<add key="minPoolSize" value="5" />
		<add key="maxPoolSize" value="50" />
		<add key="connectionTimeout" value="30" />
	</databaseSettings>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BoletaWSPortBinding" />
    <binding name="UsuarioWSPortBinding" maxReceivedMessageSize="6553600" />
    <binding name="DescuentoWSPortBinding" />
    <binding name="CategoriaWSPortBinding" />
    <binding name="OrdenVentaWSPortBinding" />
    <binding name="NotificacionWSPortBinding" />
    <binding name="CotizacionWSPortBinding" />
    <binding name="ComprobantePagoWSPortBinding" />
    <binding name="FacturaWSPortBinding" />
    <binding name="ProductoWSPortBinding" maxReceivedMessageSize="6553600" />
    <binding name="ProductoCotizacionWSPortBinding" />
    <binding name="EntregaWSPortBinding" />
    <binding name="DetalleWSPortBinding" />
    <binding name="ProductoWSPortBinding1" />
    <binding name="OrdenVentaWSPortBinding1" />
    <binding name="FacturaWSPortBinding1" />
    <binding name="BoletaWSPortBinding1" />
    <binding name="DescuentoWSPortBinding1" />
    <binding name="ComprobantePagoWSPortBinding1" />
    <binding name="EntregaWSPortBinding1" />
    <binding name="DetalleWSPortBinding1" />
    <binding name="NotificacionWSPortBinding1" />
    <binding name="CotizacionWSPortBinding1" />
    <binding name="ProductoCotizacionWSPortBinding1" />
    <binding name="UsuarioWSPortBinding1" />
    <binding name="CategoriaWSPortBinding1" />
    <binding name="ProductoWSPortBinding2" />
    <binding name="OrdenVentaWSPortBinding2" />
    <binding name="FacturaWSPortBinding2" />
    <binding name="BoletaWSPortBinding2" />
    <binding name="DescuentoWSPortBinding2" />
    <binding name="ComprobantePagoWSPortBinding2" />
    <binding name="EntregaWSPortBinding2" />
    <binding name="DetalleWSPortBinding2" />
    <binding name="NotificacionWSPortBinding2" />
    <binding name="CotizacionWSPortBinding2" />
    <binding name="ProductoCotizacionWSPortBinding2" />
    <binding name="UsuarioWSPortBinding2" />
    <binding name="CategoriaWSPortBinding2" />
    <binding name="ProductoWSPortBinding3" />
    <binding name="OrdenVentaWSPortBinding3" />
    <binding name="FacturaWSPortBinding3" />
    <binding name="BoletaWSPortBinding3" />
    <binding name="DescuentoWSPortBinding3" />
    <binding name="ComprobantePagoWSPortBinding3" />
    <binding name="EntregaWSPortBinding3" />
    <binding name="DetalleWSPortBinding3" />
    <binding name="NotificacionWSPortBinding3" />
    <binding name="CotizacionWSPortBinding3" />
    <binding name="ProductoCotizacionWSPortBinding3" />
    <binding name="UsuarioWSPortBinding3" />
    <binding name="CategoriaWSPortBinding3" />
    <binding name="ProductoWSPortBinding4" />
    <binding name="OrdenVentaWSPortBinding4" />
    <binding name="FacturaWSPortBinding4" />
    <binding name="BoletaWSPortBinding4" />
    <binding name="DescuentoWSPortBinding4" />
    <binding name="ComprobantePagoWSPortBinding4" />
    <binding name="EntregaWSPortBinding4" />
    <binding name="DetalleWSPortBinding4" />
    <binding name="NotificacionWSPortBinding4" />
    <binding name="CotizacionWSPortBinding4" />
    <binding name="ProductoCotizacionWSPortBinding4" />
    <binding name="UsuarioWSPortBinding4" />
    <binding name="CategoriaWSPortBinding4" />
    <binding name="ProductoWSPortBinding5" />
    <binding name="OrdenVentaWSPortBinding5" />
    <binding name="FacturaWSPortBinding5" />
    <binding name="BoletaWSPortBinding5" />
    <binding name="DescuentoWSPortBinding5" />
    <binding name="ComprobantePagoWSPortBinding5" />
    <binding name="EntregaWSPortBinding5" />
    <binding name="DetalleWSPortBinding5" />
    <binding name="NotificacionWSPortBinding5" />
    <binding name="CotizacionWSPortBinding5" />
    <binding name="ProductoCotizacionWSPortBinding5" />
    <binding name="UsuarioWSPortBinding5" />
    <binding name="CategoriaWSPortBinding5" />
    <binding name="ProductoWSPortBinding6" />
    <binding name="OrdenVentaWSPortBinding6" />
    <binding name="FacturaWSPortBinding6" />
    <binding name="BoletaWSPortBinding6" />
    <binding name="DescuentoWSPortBinding6" />
    <binding name="ComprobantePagoWSPortBinding6" />
    <binding name="EntregaWSPortBinding6" />
    <binding name="DetalleWSPortBinding6" />
    <binding name="NotificacionWSPortBinding6" />
    <binding name="CotizacionWSPortBinding6" />
    <binding name="ProductoCotizacionWSPortBinding6" />
    <binding name="UsuarioWSPortBinding6" />
    <binding name="CategoriaWSPortBinding6" />
    <binding name="ProductoWSPortBinding7" />
    <binding name="OrdenVentaWSPortBinding7" />
    <binding name="FacturaWSPortBinding7" />
    <binding name="BoletaWSPortBinding7" />
    <binding name="DescuentoWSPortBinding7" />
    <binding name="ComprobantePagoWSPortBinding7" />
    <binding name="EntregaWSPortBinding7" />
    <binding name="DetalleWSPortBinding7" />
    <binding name="NotificacionWSPortBinding7" />
    <binding name="CotizacionWSPortBinding7" />
    <binding name="ProductoCotizacionWSPortBinding7" />
    <binding name="UsuarioWSPortBinding7" />
    <binding name="CategoriaWSPortBinding7" />
    <binding name="UsuarioWSPortBinding8" />
    <binding name="ProductoWSPortBinding8" />
    <binding name="OrdenVentaWSPortBinding8" />
    <binding name="FacturaWSPortBinding8" />
    <binding name="BoletaWSPortBinding8" />
    <binding name="DescuentoWSPortBinding8" />
    <binding name="ComprobantePagoWSPortBinding8" />
    <binding name="EntregaWSPortBinding8" />
    <binding name="DetalleWSPortBinding8" />
    <binding name="NotificacionWSPortBinding8" />
    <binding name="CotizacionWSPortBinding8" />
    <binding name="ProductoCotizacionWSPortBinding8" />
    <binding name="UsuarioWSPortBinding9" />
    <binding name="CategoriaWSPortBinding8" />
    <binding name="UsuarioWSPortBinding10" />
    <binding name="ProductoWSPortBinding9" />
    <binding name="OrdenVentaWSPortBinding9" />
    <binding name="FacturaWSPortBinding9" />
    <binding name="BoletaWSPortBinding9" />
    <binding name="DescuentoWSPortBinding9" />
    <binding name="ComprobantePagoWSPortBinding9" />
    <binding name="EntregaWSPortBinding9" />
    <binding name="DetalleWSPortBinding9" />
    <binding name="NotificacionWSPortBinding9" />
    <binding name="CotizacionWSPortBinding9" />
    <binding name="ProductoCotizacionWSPortBinding9" />
    <binding name="UsuarioWSPortBinding11" />
    <binding name="CategoriaWSPortBinding9" />
    <binding name="ProductoWSPortBinding10" />
    <binding name="OrdenVentaWSPortBinding10" />
    <binding name="FacturaWSPortBinding10" />
    <binding name="BoletaWSPortBinding10" />
    <binding name="DescuentoWSPortBinding10" />
    <binding name="ComprobantePagoWSPortBinding10" />
    <binding name="EntregaWSPortBinding10" />
    <binding name="DetalleWSPortBinding10" />
    <binding name="NotificacionWSPortBinding10" />
    <binding name="CotizacionWSPortBinding10" />
    <binding name="ProductoCotizacionWSPortBinding10" />
    <binding name="UsuarioWSPortBinding12" />
    <binding name="CategoriaWSPortBinding10" />
    <binding name="ProductoWSPortBinding11" />
    <binding name="OrdenVentaWSPortBinding11" />
    <binding name="FacturaWSPortBinding11" />
    <binding name="BoletaWSPortBinding11" />
    <binding name="DescuentoWSPortBinding11" />
    <binding name="ComprobantePagoWSPortBinding11" />
    <binding name="EntregaWSPortBinding11" />
    <binding name="DetalleWSPortBinding11" />
    <binding name="NotificacionWSPortBinding11" />
    <binding name="CotizacionWSPortBinding11" />
    <binding name="ProductoCotizacionWSPortBinding11" />
    <binding name="UsuarioWSPortBinding13" />
    <binding name="CategoriaWSPortBinding11" />
    <binding name="ProductoWSPortBinding12" />
    <binding name="OrdenVentaWSPortBinding12" />
    <binding name="FacturaWSPortBinding12" />
    <binding name="BoletaWSPortBinding12" />
    <binding name="DescuentoWSPortBinding12" />
    <binding name="ComprobantePagoWSPortBinding12" />
    <binding name="EntregaWSPortBinding12" />
    <binding name="DetalleWSPortBinding12" />
    <binding name="NotificacionWSPortBinding12" />
    <binding name="CotizacionWSPortBinding12" />
    <binding name="ProductoCotizacionWSPortBinding12" />
    <binding name="UsuarioWSPortBinding14" />
    <binding name="CategoriaWSPortBinding12" />
    <binding name="ProductoWSPortBinding13" />
    <binding name="OrdenVentaWSPortBinding13" />
    <binding name="FacturaWSPortBinding13" />
    <binding name="BoletaWSPortBinding13" />
    <binding name="DescuentoWSPortBinding13" />
    <binding name="ComprobantePagoWSPortBinding13" />
    <binding name="EntregaWSPortBinding13" />
    <binding name="DetalleWSPortBinding13" />
    <binding name="NotificacionWSPortBinding13" />
    <binding name="CotizacionWSPortBinding13" />
    <binding name="ProductoCotizacionWSPortBinding13" />
    <binding name="UsuarioWSPortBinding15" />
    <binding name="CategoriaWSPortBinding13" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding" contract="JMQWS.ProductoWS"
    name="ProductoWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding" contract="JMQWS.FacturaWS"
    name="FacturaWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding" contract="JMQWS.BoletaWS"
    name="BoletaWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding" contract="JMQWS.EntregaWS"
    name="EntregaWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding" contract="JMQWS.DetalleWS"
    name="DetalleWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding1" contract="JMQWS.ProductoWS"
    name="ProductoWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding1"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding1" contract="JMQWS.FacturaWS"
    name="FacturaWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding1" contract="JMQWS.BoletaWS"
    name="BoletaWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding1" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding1"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding1" contract="JMQWS.EntregaWS"
    name="EntregaWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding1" contract="JMQWS.DetalleWS"
    name="DetalleWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding1"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding1"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding1"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding1" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding1" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort1" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding2" contract="JMQWS.ProductoWS"
    name="ProductoWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding2"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding2" contract="JMQWS.FacturaWS"
    name="FacturaWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding2" contract="JMQWS.BoletaWS"
    name="BoletaWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding2" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding2"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding2" contract="JMQWS.EntregaWS"
    name="EntregaWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding2" contract="JMQWS.DetalleWS"
    name="DetalleWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding2"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding2"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding2"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding2" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding2" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort2" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding3" contract="JMQWS.ProductoWS"
    name="ProductoWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding3"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding3" contract="JMQWS.FacturaWS"
    name="FacturaWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding3" contract="JMQWS.BoletaWS"
    name="BoletaWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding3" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding3"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding3" contract="JMQWS.EntregaWS"
    name="EntregaWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding3" contract="JMQWS.DetalleWS"
    name="DetalleWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding3"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding3"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding3"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding3" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding3" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort3" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding4" contract="JMQWS.ProductoWS"
    name="ProductoWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding4"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding4" contract="JMQWS.FacturaWS"
    name="FacturaWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding4" contract="JMQWS.BoletaWS"
    name="BoletaWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding4" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding4"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding4" contract="JMQWS.EntregaWS"
    name="EntregaWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding4" contract="JMQWS.DetalleWS"
    name="DetalleWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding4"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding4"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding4"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding4" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding4" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort4" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding5" contract="JMQWS.ProductoWS"
    name="ProductoWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding5"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding5" contract="JMQWS.FacturaWS"
    name="FacturaWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding5" contract="JMQWS.BoletaWS"
    name="BoletaWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding5" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding5"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding5" contract="JMQWS.EntregaWS"
    name="EntregaWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding5" contract="JMQWS.DetalleWS"
    name="DetalleWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding5"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding5"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding5"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding5" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding5" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort5" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding6" contract="JMQWEB.ProductoWS"
    name="ProductoWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding6"
    contract="JMQWEB.OrdenVentaWS" name="OrdenVentaWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding6" contract="JMQWEB.FacturaWS"
    name="FacturaWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding6" contract="JMQWEB.BoletaWS"
    name="BoletaWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding6" contract="JMQWEB.DescuentoWS"
    name="DescuentoWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding6"
    contract="JMQWEB.ComprobantePagoWS" name="ComprobantePagoWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding6" contract="JMQWEB.EntregaWS"
    name="EntregaWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding6" contract="JMQWEB.DetalleWS"
    name="DetalleWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding6"
    contract="JMQWEB.NotificacionWS" name="NotificacionWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding6"
    contract="JMQWEB.CotizacionWS" name="CotizacionWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding6"
    contract="JMQWEB.ProductoCotizacionWS" name="ProductoCotizacionWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding6" contract="JMQWEB.UsuarioWS"
    name="UsuarioWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding6" contract="JMQWEB.CategoriaWS"
    name="CategoriaWSPort6" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding7" contract="JMQWS.ProductoWS"
    name="ProductoWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding7"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding7" contract="JMQWS.FacturaWS"
    name="FacturaWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding7" contract="JMQWS.BoletaWS"
    name="BoletaWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding7" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding7"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding7" contract="JMQWS.EntregaWS"
    name="EntregaWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding7" contract="JMQWS.DetalleWS"
    name="DetalleWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding7"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding7"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding7"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding7" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding7" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort7" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding8" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding8" contract="JMQWS.ProductoWS"
    name="ProductoWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding8"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding8" contract="JMQWS.FacturaWS"
    name="FacturaWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding8" contract="JMQWS.BoletaWS"
    name="BoletaWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding8" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding8"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding8" contract="JMQWS.EntregaWS"
    name="EntregaWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding8" contract="JMQWS.DetalleWS"
    name="DetalleWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding8"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding8"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding8"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding9" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding8" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort8" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding10" contract="JMQWEB.UsuarioWS"
    name="UsuarioWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding9" contract="JMQWEB.ProductoWS"
    name="ProductoWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding9"
    contract="JMQWEB.OrdenVentaWS" name="OrdenVentaWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding9" contract="JMQWEB.FacturaWS"
    name="FacturaWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding9" contract="JMQWEB.BoletaWS"
    name="BoletaWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding9" contract="JMQWEB.DescuentoWS"
    name="DescuentoWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding9"
    contract="JMQWEB.ComprobantePagoWS" name="ComprobantePagoWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding9" contract="JMQWEB.EntregaWS"
    name="EntregaWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding9" contract="JMQWEB.DetalleWS"
    name="DetalleWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding9"
    contract="JMQWEB.NotificacionWS" name="NotificacionWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding9"
    contract="JMQWEB.CotizacionWS" name="CotizacionWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding9"
    contract="JMQWEB.ProductoCotizacionWS" name="ProductoCotizacionWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding11" contract="JMQWEB.UsuarioWS"
    name="UsuarioWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding9" contract="JMQWEB.CategoriaWS"
    name="CategoriaWSPort9" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding10" contract="JMQWS.ProductoWS"
    name="ProductoWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding10"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding10" contract="JMQWS.FacturaWS"
    name="FacturaWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding10" contract="JMQWS.BoletaWS"
    name="BoletaWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding10" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding10"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding10" contract="JMQWS.EntregaWS"
    name="EntregaWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding10" contract="JMQWS.DetalleWS"
    name="DetalleWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding10"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding10"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding10"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding12" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding10" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort10" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding11" contract="JMQWS.ProductoWS"
    name="ProductoWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding11"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding11" contract="JMQWS.FacturaWS"
    name="FacturaWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding11" contract="JMQWS.BoletaWS"
    name="BoletaWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding11" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding11"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding11" contract="JMQWS.EntregaWS"
    name="EntregaWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding11" contract="JMQWS.DetalleWS"
    name="DetalleWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding11"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding11"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding11"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding13" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding11" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort11" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding12" contract="JMQWS.ProductoWS"
    name="ProductoWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding12"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding12" contract="JMQWS.FacturaWS"
    name="FacturaWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding12" contract="JMQWS.BoletaWS"
    name="BoletaWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding12" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding12"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding12" contract="JMQWS.EntregaWS"
    name="EntregaWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding12" contract="JMQWS.DetalleWS"
    name="DetalleWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding12"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding12"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding12"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding14" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort14" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding12" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort12" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoWS" binding="basicHttpBinding"
    bindingConfiguration="ProductoWSPortBinding13" contract="JMQWS.ProductoWS"
    name="ProductoWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/OrdenVentaWS"
    binding="basicHttpBinding" bindingConfiguration="OrdenVentaWSPortBinding13"
    contract="JMQWS.OrdenVentaWS" name="OrdenVentaWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/FacturaWS" binding="basicHttpBinding"
    bindingConfiguration="FacturaWSPortBinding13" contract="JMQWS.FacturaWS"
    name="FacturaWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/BoletaWS" binding="basicHttpBinding"
    bindingConfiguration="BoletaWSPortBinding13" contract="JMQWS.BoletaWS"
    name="BoletaWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/DescuentoWS" binding="basicHttpBinding"
    bindingConfiguration="DescuentoWSPortBinding13" contract="JMQWS.DescuentoWS"
    name="DescuentoWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/ComprobantePagoWS"
    binding="basicHttpBinding" bindingConfiguration="ComprobantePagoWSPortBinding13"
    contract="JMQWS.ComprobantePagoWS" name="ComprobantePagoWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/EntregaWS" binding="basicHttpBinding"
    bindingConfiguration="EntregaWSPortBinding13" contract="JMQWS.EntregaWS"
    name="EntregaWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/DetalleWS" binding="basicHttpBinding"
    bindingConfiguration="DetalleWSPortBinding13" contract="JMQWS.DetalleWS"
    name="DetalleWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/NotificacionWS"
    binding="basicHttpBinding" bindingConfiguration="NotificacionWSPortBinding13"
    contract="JMQWS.NotificacionWS" name="NotificacionWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/CotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="CotizacionWSPortBinding13"
    contract="JMQWS.CotizacionWS" name="CotizacionWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/ProductoCotizacionWS"
    binding="basicHttpBinding" bindingConfiguration="ProductoCotizacionWSPortBinding13"
    contract="JMQWS.ProductoCotizacionWS" name="ProductoCotizacionWSPort13" />
   <endpoint address="http://localhost:8080/JMQWS/UsuarioWS" binding="basicHttpBinding"
    bindingConfiguration="UsuarioWSPortBinding15" contract="JMQWS.UsuarioWS"
    name="UsuarioWSPort15" />
   <endpoint address="http://localhost:8080/JMQWS/CategoriaWS" binding="basicHttpBinding"
    bindingConfiguration="CategoriaWSPortBinding13" contract="JMQWS.CategoriaWS"
    name="CategoriaWSPort13" />
  </client>
	</system.serviceModel>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="10485760" />
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>
